* {
    margin: 0;
}

body {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.border {
    width: 1300px;
    height: 725px;
    background-color: #262525;
    border-radius: 35px;
}

.navbar {
    display: flex;
    padding: 0 24px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.rightside {
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menu-btn {
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.svg {
    display: flex;
    gap: 15px;
    color: #ffffff;
}

.divider {
    width: 20px;
    rotate: 90deg;
}

.dashboard {
    display: flex;
}

.sidebar {
    display: flex;
    width: 140px;
    height: 400px;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}

.picture {
    width: 35px;
    height: 35px;
    border-radius: 15px;
}

.selected {
    display: flex;
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 105, 225, 0.08);
    border-radius: 15px;
}

.not-selected {
    display: flex;
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;
}


.title {
    display: flex;
    align-items: flex-start;
    width: 200px;
    height: 50px;
    flex-direction: column;
    gap: 5px;
}

.title-head {
    color: #ffffff;
}

.desc {
    color: #959799;
}

.middle {
    width: 810px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    flex: 0 0 33.3333%;
}

.card-normal {
    width: 245px;
    height: 153px;
    background-color: #1D1D1D;
    border-radius: 20px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.25);
}

.card-long {
    width: 809px;
    height: 195px;
    background-color: #1D1D1D;
    border-radius: 20px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.25);
}

.card-medium {
    width: 386px;
    height: 157px;
    background-color: #1D1D1D;
    border-radius: 20px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.25);
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    width: 323px;
}

.color-cards {
    position: relative;
    margin-top: 50px;
    height: 280px;
    width: 240px;
}

.color-cards .card {
    position: absolute;
    border-radius: 36px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}

.front {
    width: 218px;
    height: 251px;
    background: linear-gradient(135deg, #7B20E2, #2B1043);
    top: 0;
    left: 0;
    z-index: 3;
}

.back-one {
    width: 200px;
    height: 210px;
    background-color: #C68E3C;
    top: 20px;
    left: 25px;
    transform: rotate(12deg);
    z-index: 2;
}

.back-two {
    width: 200px;
    height: 210px;
    background-color: #2F847F;
    top: 35px;
    left: 45px;
    transform: rotate(24deg);
    z-index: 1;
}

.favorites {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

.fav {
    width: 273px;
    height: 70px;
    background-color: #1D1D1D;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}